@import 'https://fonts.googleapis.com/css?family=Voltaire';
h1{
  font-family: 'Voltaire', sans-serif;
  text-transform: uppercase;
  color: #ED0E7D ;
  font-size:9rem;
  line-height: 1;
  margin-left:100px;
  font-weight:bold;
  max-width: 200px;
  margin-top: 20px;
}

.rowtext {
  position: absolute;
  z-index: 2;
}


.img-div{
  position: relative;
  z-index: 0;
  margin-top: -10px;
  height: 200px;
  float:right;
  margin-right:100px;
  max-width:400px; 
}
#image {
   position: relative;
   display:block;
   text-align: center;
   height: auto;
   max-width: 100%; 
}
#img-caption {
  color: #FFFAE0;
  font-size:1px;
}

.row-1{
  position:relative;
  padding-top:50px;
  background-color: #FFFAE0;

}

.container-1 {
  margin-top: 0px;
  padding: 10px 10px 10px 10px;
  height: 490px;
  z-index: 10000;
}

#caption {
  font-family: 'Voltaire', sans-serif;
  color: #fff;
  font-size:20px;
  line-height: 1.6;
}
div.textonpic{
  position: relative;
  padding: 17.5px 17px 10px 21px;
  background-color: #ED0E7D ;
  margin-top: 448px;
  margin-left: 108px;
  float:left;
  opacity:0.8;
}



/*row two*/

.row-2 {
  position:relative;
  margin-top:-47px;
  background-color: hsl(187, 100%, 45%);
  box-shadow: 0 0 8px hsl(187, 100%, 45%);
  height: 460px;
  
}
.container-2 {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px 10px 10px 10px;
  max-width: 900px;
}

.paragraph-1{
  position:relative;
  color: #fffae0;
  line-height: 1.5;
  font-size:23px;
  margin:120px 0px 0px 120px;
  display:inline-block;
  font-family: 'Helvetica', sans-serif;
}
.secondpic{
  display:inline;
  width: 250px;
  height: 680px;
  position: absolute;
  bottom: -30px;
  right:170px;
  object-fit: cover;
  z-index: 100;
}

/*row three*/

.row-3{
  position:relative;
  margin-top:0px;
  background-color: #ED0E7D;
  box-shadow: 0 0 8px #ED0E7D;
  height: 715px;
  margin-top:-47px; 
}

.container-3{
  margin-top:50px;
  margin-bottom: 50px;
  padding: 10px 10px 10px 10px;
  max-width: 600px;

}
.paragraph-2{
  position:relative;
  color: #fffae0;
  line-height: 1.5;
  font-size:18.2px;
  margin-top:65px;
  margin-bottom:0px;
  left:630px;
  font-family: 'Helvetica', sans-serif;
}
.thirdpic{
  position: absolute;
  width: 450px;
  height: 560px;
  bottom: 75px;
  left:120px;
  display:inline; 
}

/*row four*/

.row-4{
  position:relative;
  margin-top:0px;
  background-color: #fffae0;
  box-shadow: 0 0 8px #fffae0;
  margin-top:-25px; 
  height: 270px;
  
}
.quote-1{
  position:center;
  margin-top:28px;
  margin-bottom:28px;
  color:#ED0E7D;
  font-size: 25px;
  font-family: 'Helvetica', sans-serif;
  width: 800px;
  padding-left:120px;
  padding-top:24px;
}
.footer {
  color: #34555c;
}

.vertical {
  border-left: 6px solid hsl(187, 100%, 45%);
  height: 200px;
  position: absolute;
  left: 9%;
  margin-left: 0px;
  top: 19px;
}

/*row five*/ 

.row-5{
  position:relative;
  margin-top:0px;
  background-color: hsl(187, 100%, 45%);
  box-shadow: 0 0 8px hsl(187, 100%, 45%);
  height:900px;
  margin-top:-20px; 
  
}
.container-5{
  position: relative;
  height:600px;
  
}

.mybtn{
  text-align:center;
  text-transform:uppercase;
  position:absolute;
  top:55px;
  left:35%;
  border:solid #fffae0 6px;
  background-color:transparent;
  border-radius: 10px;
  height:70px;
  width:420px;
  font-family: 'Voltaire', sans-serif;
  font-size:25px;
  color: #fffae0;
}


.emoji {
  font-size:25px;
  position:relative;
  bottom:2px;
}


.mybtn:hover{
  background-color: hsl(187, 100%, 35%); 
  border:solid hsl(180, 100%, 70%) 6px;

}


.moviecover {
  position:absolute;
  top:170px;
  z-index: 98;
  height: 270px;
  margin: 10px 10px;
  margin-left: 8%;
  background-size: 111%;
  background-position: center;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  transition: all ease 0.2s;
}


.moviecover:hover {
  position:absolute;
  top:170px;
  height:300px;
  z-index: 99;
  background-size: 121%;
  background-position: center;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.20);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.20);
}

.moviecover-1 {
  position:absolute;
  top:550px;
  z-index: 98;
  height: 270px;
  margin: 10px 10px;
  margin-left: 8%;
  background-size: 111%;
  background-position: center;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  transition: all ease 0.2s;
}


.moviecover-1:hover {
  position:absolute;
  top:550px;
  height:300px;
  z-index: 99;
  background-size: 121%;
  background-position: center;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.20);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.20);
}


.movc-1{
  position:absolute;
  left:10px;
}

.movc-2{
  position:absolute;
  left:330px;
}

.movc-3{
  position:absolute;
  left:630px;
}

.movc-4{
  position:absolute;
  left:945px;
}

.movc-5{
  position:absolute;
  left:10px;
  width: 200px;
}

.movc-6{
  position:absolute;
  left:330px;
}

.movc-7{
  position:absolute;
  left:630px;
}

.movc-8{
  position:absolute;
  left:950px;
  width: 180px;
}

.movc-5:hover {
  position:absolute;
  top:550px;
  height:300px;
  width:230px;
  z-index: 99;
  background-size: 121%;
  background-position: center;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.20);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.20); 
}
.movc-8:hover {
  position:absolute;
  top:550px;
  height:300px;
  width:210px;
  z-index: 99;
  background-size: 121%;
  background-position: center;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.20);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.20); 

}

/*row six*/ 
.row-6{
  margin-top:1px;
  background-color:#ED0E7D;
  height: 50px;
  padding-top:30px;
  
}
footer{
  margin-left:25px;
}
.container-6 p{
  text-align:center;
  color:#fffae0;
  margin-top:0;
  font-family: 'Helvetica', sans-serif;
}

.heart{
  color:hsl(180, 100%, 70%);
  font-size:19px;
}


